****************************************
Report : constraint
	-all_violators
	-max_capacitance
	-min_capacitance
	-max_transition
Design : Top
Version: V-2023.12-SP4-VAL-20240710
Date   : Mon Sep  1 22:37:07 2025
****************************************


   max_capacitance

                             Required        Actual
   Pin                      Capacitance    Capacitance       Slack
   -----------------------------------------------------------------
   ropt_mt_inst_16952/Y        16.00          16.43          -0.43  (VIOLATED)
   pipeline_chain_2__u_mult/stage3_reg_29_/QN
                                8.00           8.41          -0.41  (VIOLATED)
   U5393/Y                      8.00           8.25          -0.25  (VIOLATED)
   U10670/Y                     8.00           8.22          -0.22  (VIOLATED)
   HFSBUF_17_1874/Y            16.00          16.17          -0.17  (VIOLATED)
   U3702/Y                      8.00           8.14          -0.14  (VIOLATED)
   U10577/Y                     8.00           8.14          -0.14  (VIOLATED)
   U23432/Y                    32.00          32.12          -0.12  (VIOLATED)
   U23358/Y                    16.00          16.11          -0.11  (VIOLATED)
   HFSBUF_11_2698/Y            16.00          16.11          -0.11  (VIOLATED)
   pipeline_chain_24__u_mult/stage3_reg_52_/QN
                                8.00           8.10          -0.10  (VIOLATED)
   ropt_mt_inst_17123/Y        16.00          16.10          -0.10  (VIOLATED)
   pipeline_chain_8__u_mult/stage3_reg_10_/QN
                                8.00           8.09          -0.09  (VIOLATED)
   U23437/Y                    32.00          32.09          -0.09  (VIOLATED)
   HFSBUF_5_1598/Y             16.00          16.09          -0.09  (VIOLATED)
   gre_mt_inst_16633/Y         32.00          32.09          -0.09  (VIOLATED)
   U17195/S                     8.00           8.08          -0.08  (VIOLATED)
   ropt_mt_inst_16943/Y        16.00          16.08          -0.08  (VIOLATED)
   U11073/Y                     8.00           8.08          -0.08  (VIOLATED)
   U10663/Y                     8.00           8.08          -0.08  (VIOLATED)
   HFSBUF_73_1548/Y            16.00          16.08          -0.08  (VIOLATED)
   ropt_mt_inst_17016/Y        16.00          16.07          -0.07  (VIOLATED)
   pipeline_chain_17__u_mult/stage3_reg_11_/QN
                                8.00           8.07          -0.07  (VIOLATED)
   U22843/Y                    32.00          32.07          -0.07  (VIOLATED)
   HFSBUF_11_2447/Y            32.00          32.07          -0.07  (VIOLATED)
   U22959/Y                    32.00          32.06          -0.06  (VIOLATED)
   HFSBUF_49_2209/Y            16.00          16.06          -0.06  (VIOLATED)
   U18433/CO                    8.00           8.06          -0.06  (VIOLATED)
   pipeline_chain_4__u_mult/stage3_reg_16_/QN
                                8.00           8.06          -0.06  (VIOLATED)
   U11897/Y                     8.00           8.06          -0.06  (VIOLATED)
   U22447/Y                    16.00          16.05          -0.05  (VIOLATED)
   pipeline_chain_14__u_mult/stage3_reg_26_/QN
                                8.00           8.05          -0.05  (VIOLATED)
   U12461/Y                     8.00           8.05          -0.05  (VIOLATED)
   U11718/Y                    16.00          16.05          -0.05  (VIOLATED)
   pipeline_chain_20__u_mult/stage3_reg_39_/QN
                                8.00           8.05          -0.05  (VIOLATED)
   ropt_mt_inst_17145/Y        16.00          16.05          -0.05  (VIOLATED)
   U23030/Y                    32.00          32.04          -0.04  (VIOLATED)
   U10745/Y                    16.00          16.04          -0.04  (VIOLATED)
   pipeline_chain_24__u_mult/stage3_reg_29_/QN
                                8.00           8.04          -0.04  (VIOLATED)
   ropt_mt_inst_17136/Y        16.00          16.04          -0.04  (VIOLATED)
   U4248/Y                      8.00           8.03          -0.03  (VIOLATED)
   pipeline_chain_29__u_mult/stage3_reg_8_/QN
                                8.00           8.03          -0.03  (VIOLATED)
   U15903/Y                     8.00           8.03          -0.03  (VIOLATED)
   U7747/Y                      8.00           8.02          -0.02  (VIOLATED)
   pipeline_chain_24__u_seq2/memory_reg_15__5_/Q
                                8.00           8.02          -0.02  (VIOLATED)
   pipeline_chain_20__u_seq1/lfsr_reg_7_/Q
                                8.00           8.02          -0.02  (VIOLATED)
   pipeline_chain_27__u_mult/stage3_reg_44_/QN
                                8.00           8.02          -0.02  (VIOLATED)
   pipeline_chain_31__u_mult/stage3_reg_22_/QN
                               16.00          16.02          -0.02  (VIOLATED)
   HFSBUF_34_1141/Y            64.00          64.01          -0.01  (VIOLATED)
   U3775/Y                      8.00           8.01          -0.01  (VIOLATED)
   pipeline_chain_15__u_mult/stage3_reg_39_/QN
                                8.00           8.01          -0.01  (VIOLATED)
   U20831/Y                     8.00           8.01          -0.01  (VIOLATED)
   pipeline_chain_3__u_mult/stage2_reg_6_/Q
                                8.00           8.01          -0.01  (VIOLATED)
   U10621/Y                     8.00           8.01          -0.01  (VIOLATED)
   ropt_mt_inst_17089/Y        16.00          16.01          -0.01  (VIOLATED)
   ZBUF_19_inst_16502/Y        16.00          16.00           0.00  (VIOLATED: increase significant digits)
   U9759/Y                      8.00           8.00           0.00  (VIOLATED: increase significant digits)


1
